html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #14213d;
    color: #9fafca;
    scroll-behavior: smooth;
}


nav {
    background-color: #9fafca;
    color: #fff;
    text-shadow: #14213d 1.5px 1.5px;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 550;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#whatsapp {
    margin-left: 1rem;
}

.ancors {
    margin-right: 2rem;
}


.container-apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.5rem;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1.25rem;
    align-items: center;
}

.ola {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: #000 1.5px 1.5px;
}

#foto-de-perfil {
    border-radius: 999rem;
    margin-top: 3rem;
    margin-right: 3rem;
}


h2 {
    color: #fff;
    text-shadow: #000 1.5px 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}


#sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sobre-mim p {
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 18rem;
    margin-right: 18rem;
    margin-top: 0rem;
}

.cv-download {
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    background-color: #9fafca;
    padding: 0.75rem;
    color: #fff;
    border-radius: 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
    /* Cursor de ponteiro */
    transition: background-color 0.3s, transform 0.3s;
    /* Transição suave */
}

.cv-download:hover {
    background-color: #5a6377;
    /* Cor de fundo azul mais escuro ao passar o mouse */
    transform: scale(1.05);
    /* Aumenta o tamanho do botão levemente */
    transition: 0.5s;
}

.cv-download a {
    padding: 1rem;
    text-decoration: none;
    color: #ffffff;
    text-shadow: #14213d 1.5px 1.5px;
    font-size: larger;
}


.card h3 {
    color: #ffffff;
}

.card p {
    color: #ffffff;
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.card-int {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao-projeto a:hover {
    background-color: #5a6377;
    /* Cor de fundo azul mais escuro ao passar o mouse */
    transform: scale(1.05);
    /* Aumenta o tamanho do botão levemente */
    transition: 0.5s;
}

.botao-projeto a {
    text-decoration: none;
    background-color: #9fafca;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #ffffff;
    text-shadow: #14213d 1.3px 1.3px;
}

.ver-mais-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver-mais-projetos a:hover {
    background-color: #5a6377;
    /* Cor de fundo azul mais escuro ao passar o mouse */
    transform: scale(1.05);
    /* Aumenta o tamanho do botão levemente */
    transition: 0.5s;
}

.ver-mais-projetos a {
    background-color: #9fafca;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #ffffff;
    text-shadow: #14213d 1.3px 1.3px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    width: 15rem;
}


.competencias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.competencias img {
    width: 7.5rem;
    height: 7.rem;
    background-color: #9fafca;
    border-radius: 0.75rem;
}


#contato p {
    color: #ffffff;
    text-align: center;
    align-items: center;
    font-size: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 1.25rem;
    width: 100%;
    max-width: 25rem;
    margin-bottom: 5rem;
}

.form {
    display: flex;
    justify-content: center;
    text-align: center;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    border: 1px solid #fff;
    color: #ffffff;
    border-radius: 0.75rem;
}

textarea {
    height: 10rem;
}

input[type="text"],
textarea:focus {
    outline: 0;
}

input[type="submit"] {
    background-color: #9fafca;
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    text-shadow: #14213d 1.3px 1.3px;
    font-size: larger;
    width: 100%;
    max-width: 25rem;
}

input[type="submit"]:hover {
    background-color: #5a6377;
    /* Cor de fundo azul mais escuro ao passar o mouse */
    transform: scale(1.05);
    /* Aumenta o tamanho do botão levemente */
    transition: 0.5s;
}


.footer {
    background-color: #9fafca;
    color: #14213d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    font-weight: 400;
}